.socket-error {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
  }

  &-dialog {
    p {
      color: #8c2022;
    }

    &-button-row {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-icon {
    margin-right: 40px;
  }
}
