.chat-message {
  display: flex;
  flex-direction: column;

  &-avatar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
  }


  &-extra {
    display: flex;
    justify-content: flex-start;
    //justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    color: green;

    &-auth {
      justify-content: flex-end;
    }
  }

  &--auth-user-wrapper {
    flex-direction: row-reverse;
  }

  &--common-user-wrapper {
    flex-direction: row;
  }
}
