// vue-nes package styles redefinitions
#app {
  .nes-balloon {
    padding: .5rem 1rem;
  }

  .nes-avatar.is-large {
    width: 70px;
    height: 70px;
    image-rendering: pixelated;
  }

  .nes-avatar.is-medium {
    width: 50px;
    height: 50px;
    image-rendering: pixelated;
  }

  .nes-container {
    padding: 1.5rem 2rem;
  }

  .nes-textarea {
    height: 65px;
    padding-right: 135px;
    resize: none;
  }
}
